<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="modulesSection">
      <section name="rewriteModule" type="RewriteModule.RewriteModuleSectionHandler, RewriteModule" />
    </sectionGroup>
  </configSections>

  <system.web>
   
    <globalization
         requestEncoding="iso-8859-1"
         responseEncoding="iso-8859-1"/>
  
    <trace enabled="false" />
    
     
    <httpRuntime maxRequestLength="7777777" enableVersionHeader="false" />
        


    <machineKey validation="3DES" />
	<!--<customErrors mode="Off" />-->
 
       <httpCookies httpOnlyCookies="true" />
 <customErrors mode="On" defaultRedirect="~/Error.aspx">
      <error statusCode="404" redirect="~/Error.aspx"/>
           <error statusCode="403" redirect="~/Error.aspx"/>
               <error statusCode="402" redirect="~/Error.aspx"/>
              <error statusCode="401" redirect="~/Error.aspx"/>
    </customErrors>
   
    <httpHandlers> 
      <add path="CaptchaImage.axd" verb="*" type="ncmcaptcha.CaptchaImageHandler,ncmcaptcha" />
      <add verb="*" path="CaptchaAudio.axd" type="ncmcaptcha.CaptchaAudioHandler, ncmcaptcha" />
	  <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
        
    <sessionState mode="InProc" timeout="140" />
   <!-- <httpCookies httpOnlyCookies="true" />-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        
       
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
	 
    </compilation>
    <httpModules>
      <add name="RewriteModule" type="RewriteModule.RewriteModule, RewriteModule" />
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
   
    <pages viewStateEncryptionMode="Never" enableEventValidation="false" validateRequest="false">
      <controls>
        <add tagPrefix="AjaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add tagPrefix="rjs" namespace="RJS.Web.WebControl" assembly="RJS.Web.WebControl.PopCalendar.Ajax.Net" />
      </controls>
    </pages>
    <browserCaps>
      <case match="W3C_Validator*">
        TagWriter = System.Web.UI.HtmlTextWriter
        W3CDomVersion = 1.0
      </case>
    </browserCaps>
    <authentication mode="Forms" />
 
  </system.web>
  <connectionStrings>
    <add name="connectionstring" connectionString="Pwd=$#Nt@521;Persist Security Info=True;User ID=ntcausr;Data Source=100.100.7.4;Initial Catalog=NTCA_MIC;Max Pool Size=500;" />
  </connectionStrings>
  <appSettings>
   <add key="SITE_ADMIN_URL" value="45.115.99.199/NTCA_MIS/Auth/AdminPanel/" />
     
    <add key="ADMINMAIL" value="prakash.bhatt@netcreativemind.co.in" />
       

          <add key="SMTP_Server" value="smtp.gmail.com" />
	 <!--25may above-->
    <add key="WriteReadData" value="WriteReadData" />
    <add key="CMS" value="CMS" />
	<add key="VILLAGE" value="VILLAGE" />
	<add key="CDP" value="CDP" />
    <add key="PhotoGallery" value="PhotoGallery" />
    <add key="NgoFiles" value="NgoFiles" />
    <add key="ThumbnailImages" value="ThumbnailImages" />
    <add key="NGOAttachments" value="NGOAttachments" />
    <add key="Description" value="PPAC ,Maintenance of Information data bank and communication system to deal with emergencies and unforeseen situations" />
    <add key="Keyword" value="dfhs is to assist the Government in discharge of some of the functions earlier being performed by OCC. " />
  </appSettings>
  <modulesSection>
    <rewriteModule>
      <rewriteOn>true</rewriteOn>
      <rewriteRules>
        <rule source="content/Index.aspx" destination="Index.aspx" />
        <rule source="content/(.+)/Index.aspx" destination="Index.aspx?LangID=$1&amp;menuid=$2&amp;position=$3&amp;name=$4" />
        <rule source="content/(.+)/(.+)_(.+)_Home" destination="Index.aspx?LangID=$1&amp;menuid=$2&amp;position=$3&amp;name=$4" />
        <rule source="content/(.+)/screenReaderAcess.aspx" destination="screenReaderAcess.aspx?LangID=$1" />
        <rule source="content/(.+)/ConformationPage.aspx" destination="ConformationPage.aspx?LangId=$1" />
        <!-- rules by vishu -->
        <!--<rule source="content/(.+)_(.+)EmployeeCorner.aspx" destination="Auth/adminpanel/EmployeeCorner/Employeelogin.aspx"/>
        <rule source="content/(.+)/(.+)_(.+)EmployeecornerLeftHindi.aspx" destination="Auth/adminpanel/EmployeeCorner/Employeelogin.aspx?LangId=$1"/>-->
        <rule source="content/(.+)/ScreenReaderAccess.aspx" destination="ScreenReaderAccess.aspx?LangId=$1" />
        <rule source="content/(.+)/SearchResults.aspx" destination="SearchResults.aspx?LangId=$1" />
        <rule source="content/CaptchaAudio.axd" destination="CaptchaAudio.axd" />
        <rule source="content/(.+)/CaptchaAudio.axd" destination="CaptchaAudio.axd" />
        <rule source="content/(.+)/EnableJavascript.aspx" destination="EnableJavascript.aspx?LangId=$1" />
        <!--end -->
        <!-- TOP LINKS MENU URL-->
        
        <!--<rule source="maincontent/(.+)_(.+).aspx" destination="Maincontent.aspx?menuid=$1&amp;position=$2&amp;menu_name=$3" />-->
        <rule source="maincontent/(.+)_(.+)_(.+).aspx" destination="Maincontent.aspx?menuid=$1&amp;position=$2&amp;menu_name=$3" />
       
        <!--<rule source="content/(.+)/(.+)_(.+)_(.+).aspx" destination="Maincontent.aspx?LangID=$1&amp;menuid=$2&amp;position=$3&amp;menu_name=$4" />-->
        <!-- END OF TOP LINKS -->
		    <rule source="content/(.+)_(.+)_(.+).aspx" destination="contentPage.aspx?menuid=$1&amp;position=$2&amp;menu_name=$3" />
        <rule source="content/(.+)/(.+)_(.+)_(.+).aspx" destination="contentPage.aspx?LangID=$1&amp;menuid=$2&amp;position=$3&amp;menu_name=$4" />

        <!--<rule source ="Awardee"-->
        <rule source="Awardee/(.+)_(.+).aspx" destination="AwardeePageDetails.aspx?awardeeid=$1&amp;menu_name=$2" />
        <rule source="Awardee/(.+)/(.+)_(.+).aspx" destination="AwardeePageDetails.aspx?LangID=$1&amp;awardeeid=$2&amp;menu_name=$3" />
        <!--<rule source ="Photo"-->
        <rule source="Photo/(.+)_(.+)_(.+).aspx" destination="FrontPhotoGallery.aspx?CategoryId=$1&amp;MediaType=$2&amp;menu_name=$3" />
        <rule source="Photo/(.+)/(.+)_(.+)_(.+).aspx" destination="FrontPhotoGallery.aspx?LangID=$1&amp;CategoryId=$2&amp;MediaType=$3&amp;menu_name=$4" />
        
      
        <!--<rule source ="Reamoreaboutiimc"-->
      </rewriteRules>
    </rewriteModule>
  </modulesSection>
   
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

     <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
	  <remove statusCode="411" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="Error.aspx" responseMode="Redirect" />
           <error statusCode="403" prefixLanguageFilePath="" path="Error.aspx" responseMode="Redirect" />
      <error statusCode="500" prefixLanguageFilePath="" path="Error.aspx" responseMode="Redirect" />
      <error statusCode="407" prefixLanguageFilePath="" path="Error.aspx" responseMode="Redirect" />
	  <error statusCode="411" prefixLanguageFilePath="" path="Error.aspx" responseMode="Redirect" />
	  </httpErrors>
  
 
        <staticContent>
            <!--<mimeMap fileExtension=".svg" mimeType="image/svg" />-->
            <mimeMap fileExtension=".kml" mimeType="application/vnd" />
            <mimeMap fileExtension=".kmz" mimeType="application/vnd" />
        </staticContent>
     <httpProtocol>
 
      <customHeaders>
         <add name="X-Frame-Options" value="SAMEORIGIN"/>
         <add name="X-Xss-Protection" value="1; mode=block"/>
         <add name="X-Content-Type-Options" value="nosniff"/>
         <add name="X-Content-Security-Policy" value ="default"/>

       
       
        
         
        <remove name="X-Powered-By"/>
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate, pre-check=0, post-check=0, max-age=0, s-maxage=0"/>
        <add name="Pragma" value="no-cache"/>
        <add name="Expires" value="0"/>
      </customHeaders>
    </httpProtocol>
             
  <rewrite>
      <outboundRules rewriteBeforeCache="true">
        <rule name="Remove Server header">
          <match serverVariable="RESPONSE_Server" pattern=".+" />
          <action type="Rewrite" value="" />
        </rule>
      </outboundRules>
    </rewrite>
   
   </system.webServer>
</configuration>